body {
  background-color: black;
  font-family: 'Press Start 2P', 'cursive';
}

#gameOver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  color: whitesmoke;
  -webkit-text-stroke: 4px black;
}

#pd {
  position: relative;
  display: inline-block;
}

#heart {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 30px;
  color: whitesmoke;
  -webkit-text-stroke: 2px black;
  display: flex;
  align-items: center;
}

#heartIcon {
  width: 40px;
  color: rgb(255, 255, 255);
  margin-right: 5px;
}

#daimr {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#dai {
  display: flex;
  align-items: center;
}

#coinIcon {
  width: 40px;
  color: gold;
  margin-right: 5px;
}

#ptrwhb {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 80px;
  background: linear-gradient(
    to left bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}
